
.about-main{
    margin-top: 150px;
}
.about-container {
    display: flex;
    height: 300vh;
    position: relative;
}

.about-left {
  width: 50%;
  height: 100vh;
  padding: 20px;
}

.about-right {
    width: 50%;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.about-right img{
    width: 600px;
    height: 600px;
}

.about-head{
    text-align: center;
    font-size: 3rem;
    color: #dd0e3a;
}

.about-right-child{
    position:absolute;
    width: 470px;
    top: 18%;
}

.about-left-content{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.about-left-content .count {
    padding:7px 14px;
    margin-right: 20px;
    background-color: #dd0e3a;
    border-radius: 50%;
    color: white;
    font-size: 18px;
}
.about-left-content p{
    margin-left: 50px;
}
