.footer-container{
    margin-top: 5%;
    height: 400px;
    background-color: rgb(221, 14, 58);
    border-radius: 20px;
    
}

.left-content {
    margin-top: 5%;
}

.left-content-wording-1{
    margin-left: 4%;
    font-weight: 600;
    font-size: x-large;
}

.left-content-wording-2{
    width: 60%;
    margin-left: 4%;
    margin-top: 3%;

}

.left-content-icons{
    margin-left: 4%;
    margin-top: 6%;
    width: 30%;
}

.right-content-line-1{
    margin-top: 9%;
}

.right-content-line-1-heading{
    font-weight: 700;
}

.right-content-line-1-wording{
    line-height: 40px;
}

hr{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
   
}


.bottom-box{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 2%;

}

.bottom-box-left{
padding-left: 2%;

}

.bottom-box-right{
   
    
    padding-right: 2%;
    

}


