.accordion {
    overflow: hidden;
  }
  
  .accordion-header {
    cursor: pointer;
    user-select: none;
    background-color: #dd0e3a;
  }
  
  .accordion-content::-webkit-scrollbar {
        width: 3px; /* Width of the scrollbar */
  }

  .accordion-content::-webkit-scrollbar-track {
    background: #801A1E; /* Track color */
    border-radius: 10px;
  }

  .accordion-content::-webkit-scrollbar-thumb {
    background: #f1f1f1; /* Thumb color */
    border-radius: 10px;
  }
  
  .accordion-content::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb color on hover */
  }
  
  .accordion-text {
    padding: 5px 10px;
  }

 
  